jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  numExecutors: 12
  scmCheckoutRetryCount: 0
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "USER:Overall/Administer:admin"
        - "USER:Overall/Read:Anonymous"
        - "USER:Job/Read:Anonymous"
        - "GROUP:Overall/Read:authenticated"
        - "GROUP:Job/Read:authenticated"
unclassified:
  location:
    url: https://mirrors.mit.edu:8443/
    adminAddress: mirrors-root-mail@mit.edu
  mailer:
    smtpHost: outgoing.mit.edu
    defaultSuffix: "@mit.edu"
  pollSCM:
    pollingThreadCount: 10
jobs:
  - script: |
{% for mirror in mirrors if mirror.sync|default(True) %}
      job('{{ mirror.name }}') {
        scm {
          git {
            remote {
              url('git://mirrors.scripts.mit.edu/mirrors.git')
            }
            branch('*/master')
          }
        }
        triggers {
          cron('H H/2 * * *')
        }
        steps {
          shell('sudo -u mirrors $WORKSPACE/fetch-hudson {{ mirror.fetch|default(mirror.name) }}')
        }
        properties {
          buildDiscarder {
            strategy {
              logRotator {
               daysToKeepStr("")
               numToKeepStr("100")
               artifactDaysToKeepStr("")
               artifactNumToKeepStr("")
              }
            }
          }
        }
      }
{% endfor %}
