[Unit]
Description=Generate server statistics using goaccess
Wants=goaccess.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/goaccess \
	--db-path=/var/lib/goaccess/ \
	--no-parsing-spinner \
	--log-format=CADDY \
	--geoip-database=/var/lib/geoip/dbip-city-lite.mmdb \
	--geoip-database=/var/lib/geoip/dbip-asn-lite.mmdb \
	--anonymize-ip \
	--keep-last=8 \
	--restore \
	--persist \
	--output=/srv/ifs-mirror/goaccess/report.html \
	/var/log/caddy/access.log

[Install]
WantedBy=multi-user.target
